<nav>
    <div class="nav-container">
        <a href="/" class="nav-logo">Florales Misioneras</a>
        <i class="fas fa-bars"></i>
        <ul class="nav-ul">
            <li>
                <a href="#" class="nav-link">Option 1</a>
            </li>
            <li>
                <a href="#" class="nav-link">Option 2</a>
            </li>
            <li>
                <a href="#" class="nav-link">Option 3</a>
            </li>
            <li>
                <a href="#" class="nav-link">Option 4</a>
            </li>
        </ul>
    </div>
</nav>
